[class^="background-"] {
    width: 1366px;
    min-height: 100%;
    min-width: 100%;
}

.backround-project {
    /* width: 1366px; */
    height: 770px; 
    min-height: 100%;
    min-width: 100%;
    background-image: url(../img/bckg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.background-header {
    /* width: 1366px; */
    height: 58px;    
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}
 
a {
    text-decoration: none; 
    color: #fff;
}

.header-logo {
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.head-menu {
    width: 1208px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.head-vectors {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    right: 25px;
    
}

.header-auth {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.change-theme {
    font-family: Ubuntu;
    font-size: 20px;
   
    font-weight: 400;
    color: #fff;
    background-color: #305DB8;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    margin-left: 10px;
    
}

.right-header {
    display: flex;
    position: relative;
}

.header-calendar {
    position: relative;
    right: 100px;
}

.header-mail {
    position: relative;
    right: 75px;
}

.header-nav {
    position: relative;
    right: 50px;
}

.header-line {
    position: relative;
    right: 25px;
}

main {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 54px;
}

.backg-main {
    width: 444px;
    height: 584px;
    background-color: #fff;
            
}

.backg-container {
    width: 324px;
    margin: 0 auto;
    position: relative;
}

.shape {
    display: flex;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: relative;
    right: 60px;
}

.head-main {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    align-items: baseline;
}

.color {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400; 
    color: #3CB878;
}

h3 {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;  
    color: #434343;  
    flex-grow: 1;
    position: relative;
    right: 18px;
}

.signup {
    margin-top: 15px;
    display: flex; 
    justify-content: space-between;
}

.facebook {
width: 160px;
height: 48px;
background-color: #305DB8;
border-radius: 3px;
display: flex;
/* justify-content: space-around; */
justify-content: space-evenly;
align-items: center;

}

.gmail {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.into-facebook {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .f {
    position: relative;
    right: 18px;
  }

  .text-facebook {
    position: relative;
    left: 18px;
    color: #fff;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;  
  }

  .into-gmail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .g {
    position: relative;
    right: 18px;
  }

  .text-google {
    position: relative;
    left: 18px;
    color: #fff;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;  
  }

  .or-near-form {
    margin-top: 31px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;  
    display: flex;
    justify-content: center;   
  }

  .login-singup {
    display: flex;
    justify-content: center;
    /* margin-top: 12px; */
    position: relative;
  }

  form {
    display: flex;
    flex-direction: column;
  }

 .text { 
    width: 324px;
    height: 44px;
    margin-top: 15px;
 }

 .checkbox {
    margin-top: 12px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;  
 }

 .button {
    width: 324px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400; 
    color: #fff;
    background-color: rgba(60, 184, 120, 0.8);
    border:rgba(60, 184, 120, 0.8) 
 }

 a:hover {
   color: #01813F;
 }
 
  img:hover {
    color: #01813F;
  }

  
  .dark {
    background-color: black;
  }